
@model IEnumerable<MVC_ActionResults.Models.Movies>


@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<style>
    .alignment {
        float: right;
        margin-top: -40px;
    }
</style>

<h2>Movies!!</h2>
<p>
    @Html.ActionLink("New Movie", "MoviesForm", "Movies", null, new { @class = "btn btn-primary alignment" })
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
    </tbody>
</table>